@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .prose > :first-child {
    margin-top: 1.25em !important;
    margin-bottom: 1.25em !important;
  }
}

.sticky-nav {
  position: sticky;
  z-index: 10;
  top: 0;
  backdrop-filter: saturate(180%) blur(20px);
  transition: background-color 0.1 ease-in-out;
}
